@model IEnumerable<SampleASPCore.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h2>Table Barang</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KodeBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jumlah)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HargaBeli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HargaJual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deskripsi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KodeBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaBeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HargaJual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deskripsi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
